body{
    margin: 0 198px 0 198px;


    .superbody{

        margin:55px;
    
    }
    p{
        font-size: 16px;
        border-right: 100px;
    }
    
    .first{
        width: 900px;
        }
    
    .underline{
        text-decoration: line-through;
        
    }
    .line{
        display: block;
        height: 1px;
        border-top: 1px solid lightgray;
        margin: 1em 0;
    
    }
}